button {
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 1.3em;
  padding: .5em .75em;
  color: inherit;
  cursor: pointer;
  line-height: normal;
  font-family: inherit;
  border: 0;
  border-radius: .25em;

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;

    i {
      padding-left: .25em;
    }
  }
}

button,
button i {
  transition: all .1s ease-in-out;
}

#next-1,
.answer {
  margin-top: .5em;
  border-radius: .5em;
}

.answer {
  input {
    -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, .8);
    font-size: 1em;
    outline: none;
    padding: .25em 0;
    background: none;
    font-family: inherit;
    color: inherit;

    &[type="number"],
    &[id*="ratio-"] {
      min-width: 20%;
    }
  }

  label {
    -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
    position: absolute;
    cursor: text;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    line-height: 40px;

    &.filled {
      -webkit-transform: translateX(0em) translateY(-1.25em) scale(0.75);
      transform: translateX(0em) translateY(-1.25em) scale(0.75);
      transform-origin: 0 0;
    }

    &.focused {
      color: rgba(255, 255, 255, 0.65);
    }
  }
}
