$font-primary: "Sen",
"Helvetica",
sans-serif;
$font-secondary: "Roboto",
"Helvetica",
sans-serif;

html,
body {
  color: $black;
  font-family: $font-primary;
  font-size: 12px;

  @media screen and (min-width: $screen-md) {
    font-size: 12px;
  }

  @media screen and (min-width: $screen-lg) {
    font-size: 14px;
  }

  @media screen and (min-width: $screen-xl) {
    font-size: 16px;
  }

  @media screen and (min-width: $screen-sm) {
    font-size: 12px;
  }
}

main {
  color: $white;
  font-family: $font-primary;
  font-weight: 400;
}

header {
  small {
    font-size: 1em;
    vertical-align: sub;
  }
}

.intro-text {
  h2 {
    font-size: 1.8em;
    margin-bottom: .5em;
    font-weight: 600;
  }

  p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: .5em;
  }
}

.question-box,
.try-again {
  p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1em;
  }

  small {
    font-size: 1em;
    line-height: 1.3em;
  }
}
