@import 'partials/reset';
@import 'partials/breakpoints';
@import 'partials/mixins';
@import 'partials/animate';
@import 'partials/colors';
@import 'partials/typography';
@import 'partials/backgrounds';
@import 'partials/boxes';
@import 'partials/forms';

body {
  overflow: hidden;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
}

header {
  background-color: $white;
  min-height: 4em;
  position: fixed;
  padding: 0 1em;
  left: 0;
  right: 0;
  top: 0;
  z-index: 120;

  nav {
    line-height: 4em;
    display: block;

    .icon {
      height: 40px;
      vertical-align: middle;
      line-height: 90px;
      display: inline-block;
      cursor: pointer;
    }
    .logotype {
      height: 2em;
      width: auto;
      vertical-align: middle;
      padding: 0 .5em;
    }
  }
}

footer {
  color: $white;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: .75em 1em 2em 1em;

  p {
    font-size: .75em;
    line-height: 1.4em;
    vertical-align: middle;
    a {
      color: $white;
    }
  }
}

section {
  display: flex;

  &[id^="question-"],
  &#intro[id^="intro"] {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    vertical-align: top;
    font-size: 1.5rem;
  }

  &:not([id*="-bg"]) {
    z-index: 99;
  }

  &:not(.active) {
    position: absolute !important;
    left: 100vw;
    top: 0;
    bottom: 0;
  }

  &.active {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: left .5s linear;
  }

  &.over {
    position: absolute !important;
    left: -100vw;
    right: 0;
    top: 0;
    bottom: 0;
    transition: left .5s linear;
  }
}

.flex-center {
  align-self: center;
  margin: auto;
}

.question-box {
  background-color: rgba(5, 5, 5, 0.4);
  padding: 20px;
}


.account-box p {
  padding: 0;
}

.attempts p {
  font-size: .75rem;
  line-height: 1.5rem;
}

.question,
.answer {
  display: inline;
}

.try-again {
  z-index: 26;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  visibility: hidden;
  display: none;
  margin-top: -5vh;

  &.visible {
    visibility: visible;
    display: block;
    margin-top: -40px;
  }
}

.answer,
.try-again button {
  margin-top: 5vh;
}


[class*='qty-'] {
  position: absolute;
  cursor: pointer;
  display: none;
  visibility: hidden;

  &[class*='plus'] {
    left: calc(20% - 12px);
  }

  &[class*='minus'] {
    bottom: 2px;
    left: calc(20% - 12px);
  }
}


input:focus {
  border-color: rgba(255, 255, 255, 0.65);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
