@import 'reset';
@import 'mixins';
@import 'animate';
@import 'colors';
@import 'typography';

body {
  /*  overflow: hidden;*/
  color: $black;
  font-family: $font-primary;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

main {
  color: $white;
  font-family: $font-primary;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  display: flex;
}

header {
  background-color: $white;
  min-height: 60px;
  font-weight: 600;
  position: fixed;
  padding: 0 30px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 120;

  nav {
    line-height: 60px;
    display: block;

    .icon {
      height: 40px;
      vertical-align: middle;
      line-height: 90px;
      display: inline-block;
      cursor: pointer;
    }
  }

  h1 {
    padding: 0 10px;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1em;
    vertical-align: middle;
    cursor: pointer;
  }

  small {
    font-size: .7rem;
  }
}

footer {
  background-color: $white;
  text-align: center;
  line-height: 1.5em;
  font-size: 2em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 10px;

  p {
    font-size: .5rem;
    line-height: 1rem;
    vertical-align: middle;
  }
}

section {
  display: flex;

  &[id^="question-"],
  &#intro[id^="intro"] {
    height: 100vh;
    width: 100vw;
    position: relative;
    vertical-align: top;
    font-size: 1.5rem;
  }

  &:not([id*="-bg"]) {
    z-index: 99;
  }

  &:not(.active) {
    position: absolute !important;
    left: 100vw;
    top: 0;
    bottom: 0;
  }

  &.active {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: left .5s linear;
  }

  &.over {
    position: absolute !important;
    left: -100vw;
    right: 0;
    top: 0;
    bottom: 0;
    transition: left .5s linear;
  }
}

.blob {
  position: absolute;
  z-index: 20;
  pointer-events: none;
  fill: #ffffff;
  opacity: .2;
  transform: scale(2);
  width: 100vw;
  height: 100vh;
  transition: all .25s ease-in-out;
}


#intro-bg {
  z-index: 1;
  @include linearGradient($color-4, $color-5);
}

#question-1-bg {
  /* children's names */
  z-index: 2;
  @include linearGradient($color-5, $color-6);
}

#question-2-bg {
  /* car make and model */
  z-index: 3;
  @include linearGradient($color-7, $color-8);
}

#question-3-bg {
  /* sports team */
  z-index: 4;
  @include linearGradient($color-8, $color-1);
}

#question-4-bg {
  /* middle name */
  z-index: 5;
  @include linearGradient($color-1, $color-2);
}

#question-5-bg {
  /* top 10 list */
  z-index: 6;
  @include linearGradient($color-3, $color-4);
}

#question-6-bg {
  /* age mother cites */
  z-index: 7;
  @include linearGradient($color-5, $color-6);
}

#question-7-bg {
  /* name of street */
  z-index: 8;
  @include linearGradient($color-7, $color-8);
}

#question-8-bg {
  /* name of town escaped */
  z-index: 9;
  @include linearGradient($color-8, $color-1);
}

#question-9-bg {
  /* colour of cat's fur */
  z-index: 10;
  @include linearGradient($color-1, $color-2);
}

#question-10-bg {
  /* casual sex ratio */
  z-index: 11;
  @include linearGradient($color-3, $color-4);
}

#question-11-bg {
  /* one-word new year's summary */
  z-index: 12;
  @include linearGradient($color-5, $color-6);
}

#question-12-bg {
  /* road trip passenger */
  z-index: 13;
  @include linearGradient($color-6, $color-7);
}

#question-13-bg {
  /* co-parent */
  z-index: 14;
  @include linearGradient($color-7, $color-8);
}

#question-14-bg {
  /* song when you realised */
  z-index: 15;
  @include linearGradient($color-8, $color-1);
}

.flex-center {
  align-self: center;
  margin: auto;
}

.intro-box,
.question-box {
  position: relative;
  z-index: 25;
  max-width: 840px;
  margin: 0 auto;
  white-space: normal;
  line-height: 100%;
  display: block;
  line-height: 1.4rem;
  margin: 0 auto;
}

.intro-box {
  padding: 0;
  display: flex;
  max-width: 960px;
  border: 4px solid $white;
  background-color: transparentize($color-5, .8);
  border-radius: .5em;

  .intro-text {
    color: $white;
    padding: 15px 20px 20px 20px;
    float: right;
    display: inline-block;
  }
}

.account-box {
  max-width: 25%;
  display: inline-block;
  background-color: $white;
  border-right: 4px solid $white;

  img {
    width: 100%;
    border-left: 4px solid $white;
    border-top: 4px solid $white;
    margin: -4px;
    border-top-left-radius: .5em;
  }

  .account-info {
    padding-top: 20px;
    color: $black;
    width: 100%;
    display: block;
    text-align: center;
  }
}

.question-box {
  background-color: rgba(5, 5, 5, 0.4);
  padding: 20px;
}


.intro-box,
.question-box p,
.try-again p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.intro-box h2 {
  font-size: 2rem;
  padding-top: 20px;
}

.intro-box p,
.try-again small {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 10px 0;
}

.account-box p {
  padding: 0;
}

.attempts p {
  font-size: .75rem;
  line-height: 1.5rem;
}

.question,
.answer {
  display: inline;
}

.try-again {
  z-index: 26;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  visibility: hidden;
  display: none;
  margin-top: -5vh;
}

.try-again.visible {
  visibility: visible;
  display: block;
  margin-top: -40px;
}

.answer,
.try-again button {
  margin-top: 5vh;
}

#next-1,
.answer {
  float: right;
  margin-top: .5em;
  border-radius: .5em;
}

button {
  background: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  line-height: 30px;
  padding: 9px 15px;
  font-size: 1rem;
  color: inherit;
  cursor: pointer;
  line-height: normal;
  font-family: inherit;
}

button,
button i {
  transition: all .1s ease-in-out;
}

button:hover,
button:focus {
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
}

button:hover i,
button:focus i {
  padding-left: 5px;
}

label {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  position: absolute;
  cursor: text;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  line-height: 40px;
}

label.filled {
  -webkit-transform: translateX(0em) translateY(-1.25em) scale(0.75);
  transform: translateX(0em) translateY(-1.25em) scale(0.75);
  transform-origin: 0 0;
}

label.focused {
  color: rgba(255, 255, 255, 0.65);
}

input {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  font-size: 1rem;
  outline: none;
  padding: 9px 0;
  background: none;
  font-family: inherit;
  color: inherit;
  min-width: 60%;
}

input[type="number"],
input[id*="ratio-"] {
  min-width: 20%;
}

.qty-plus {
  position: absolute;
  left: calc(20% - 12px);
  cursor: pointer;
  display: none;
  visibility: hidden;
}

.qty-minus {
  position: absolute;
  bottom: 2px;
  left: calc(20% - 12px);
  cursor: pointer;
  display: none;
  visibility: hidden;
}

/*
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 0;
}
*/

input:focus {
  border-color: rgba(255, 255, 255, 0.65);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*
input[type="number"] {
  -moz-appearance: textfield;
}
*/

/*
input[type="number"]:focus {
  outline: 0;
}
*/

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 18px;
  }

  .question-box,
  .try-again {
    max-width: 840px;
  }
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  html {
    font-size: 16px;
  }

  .question-box,
  .try-again {
    max-width: 720px;
  }

  .blob {
    transform: scale(1);
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .question-box,
  .try-again {
    max-width: 600px;
  }

  header small {
    display: block;
  }

  .intro-box {
    padding: 0 30px;
    max-width: 1200px;
  }

  .intro-text {
    max-width: 100%;
    float: none;
    display: inline-block;
  }

  .account-box {
    padding: 20px;
    display: inline-block;
    max-width: 100%;
  }

  .account-box img {
    max-width: 20%;
    float: left;
    margin-right: 10px;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 620px) {
  html {
    font-size: 14px;
  }

  header {
    padding: 0 10px;
  }

  .question-box,
  .try-again {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 20px;
  }

  input {
    width: 100%;
  }

  input [id*="ratio-"] {
    width: 48%;
  }

  .answer p {
    width: 2%;
  }

  button {
    margin-top: 0;
  }

  button.next {
    margin-top: 10px;
  }

  button.next,
  button.tinderredirect {
    width: 100%;
  }

  #question-14 .tinderredirect {
    margin-top: 10px;
  }

  button[id*="submit-"] {
    margin-top: 5vh;
    width: 100%;
  }

  .question-box {
    padding-top: 100px;
    padding-bottom: 68px;
  }
}

@media only screen and (max-width: 360px) {
  button.tinderredirect {
    width: 100%;
  }

  button.next {
    width: 100%;
  }

  .try-again button.next {
    margin-top: 10px;
  }
}
